<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Insert TCC</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
</head>
<body>
    <header class="cabecalho bg">
        <% var link= "http://localhost:3000/tcc/insert"%>
        <% var busca= "http://localhost:3000/tcc"%>
        <a href="#"> <img src="/logoupe.png" alt="Sistema TCC"></a>
        <nav>
            <li><a href="">Home</a> </li>
            <li><a href="<%= link %>">Inserir</a> </li>
            <li><a href="<%= busca %>">Buscar</a> </li>
            <li><a href="#">Alterar</a> </li>
            <li><a href="#">Contato</a> </li>
        </nav>
    </header> 
       <%if(mensagem != null) {%>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Muito bem!</h4>
            <p><%= mensagem %></p>
            <hr>    
        </div> 
        <% } %>

        <main class="container form form-group">
            <form action="/tcc/insert" method="POST"> 
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input id="isbn" name="isbn" class="form-control" placeholder="Código ISBN" required>
                </div>  
                
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Titulo do TCC" required>
                </div>
                
                <div class="form-group">
                    <label for="tema">Tema</label>
                    <input type="text" id="tema" name="tema" class="form-control" placeholder="Tema" required>
                </div>

                <div class="form-group">
                        <label for="palavras-chave">Palavras-chave</label>
                        <input type="text" id="tema" name="palavras-chave" class="form-control" placeholder="Palavras-chave" required>
                        <small id="textHelp" class="form-text text-muted">Separe por VÍRGULA.</small>
                </div>

                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" id="autor" name="autor" class="form-control" placeholder="Autor" required>   
                </div>

                <div class="form-group">
                    <label for="Orientadores">Orientador(es)</label>
                    <input type="text" id="orientadores" name="orientadores" class="form-control" placeholder="Orientador(es)" required>
                    <small id="textHelp" class="form-text text-muted">Separe por VÍRGULA.</small>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="curso">Curso</label>
                        <select name="curso" class="form-control">
                                <option selected>Selecione...</option>
                                <option value="Sistemas de Informação">Sistemas de Informação</option>
                                <option value="Administração">Administração</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="semestre">Semestre</label>
                        <select name="semestre" class="form-control">
                            <option selected>Selecione...</option>
                            <option value="1">XXXX.1</option>
                            <option value="2">XXXX.2</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="ano">Ano</label>
                        <input type="text" id="ano" required="required" name="ano" pattern="[0-9]+$" placeholder="Ano de Conclusão"/>
                    </div>
                </div>
                 
                <div class="form-group custom-file col-md-4">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Arquivo TCC</label>
                    <small>Faça o upload do seu arquivo</small>
                    <br><br>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info">Enviar</button>
                </div>   
            </form>    
        </main>
        <footer class="bg">
            <p>Sistema TCC v1.0</p>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>