<header class="cabecalho bg">
    <% var link= "http://localhost:3000/tcc/insert"%>
    <% var busca= "http://localhost:3000/tcc"%>
    <a href="#"> <img src="/logoupe.png" alt="Sistema TCC"></a>
    <nav>
        <li><a href="">Home</a> </li>
        <li><a href="<%= link %>">Inserir</a> </li>
        <li><a href="<%= busca %>">Buscar</a> </li>
        <li><a href="#">Alterar</a> </li>
        <li><a href="#">Contato</a> </li>
    </nav>
</header>