body{
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*Nav*/
.logo {
  display: inline-block; }
  .logo h1 {
    color: #444;
    font-size: 25px;
    margin: 0;
    line-height: 1; }

.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 50px;
  margin: 0;
  border: 0; }
  .navigation .navbar-brand {
    display: inline-block; 
  }
  
.menu {
  margin-top: 14px; }
  .menu li {
    display: inline-block;
    margin: 0 10px; }
    .menu li a {
      color: #444;
      font-size: 14px;
      font-weight: bold;
    display: inline; }

label{
  display: inherit;
}

input[type=text] {
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

input[type=text]:focus {
  width: 50%;
}

.button {
  display: inline-block;
  border-radius: 12px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}