/* RESET */
* {margin: 0; padding: 0; font-size: 100%; font-family: 'Open Sans', sans-serif; font-weight: normal;
box-sizing:border-box; border:none; outline: none; }
img {max-width: 100%;}
ul {list-style: none;}
a {text-decoration: none;}
h2 {font-size: 1.5em; color: #333;}
p {font-size: 1em; color: #777;}

/* CABEÇALHO */
.cabecalho {width: 100%; float: left; padding: 50px 8%; background-color: #13c7ae;}
.logo a { width: 64px; height: 64px; float: left; background-image: url(../upelogo.jpg); font-size: 0;}

/* MENU */
.menu { padding: 0px 8%;}
.menu li {float: right;}
.menu li a {color: white; margin-right: 25px;}
.menu li a:hover {color: black;}

/* FORMULÁRIO */
.form {width: 100%; padding: 200px 8%;}
.form label {display: block;font-size: 20px;}
.text-btn label{font-size: 15px;}

/* RODAPÉ */
.rodape{width: 100%; float: left; background-color: #13c7ae; padding: 50px 8%;}
.texto-rodape-upe{float: left;color: white;}
.texto-rodape-upe a{color: white;}
.texto-rodape-upe a:hover{color: black;}



/* RESPONSIVO*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

 Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } */